@import "null_style.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

$background-color: #fff;
$button-color_1: #E9F993;
$button-color_1-hover: #d0f500;
$font-color: #212529;
$background-color-1: #F2FCBE;
$dark-button_background-color: #424649;
$background-color-2: #DBE5F2;
$background-color-3: #C3BEFF;
$background-color-4: #ECF2F9;
$background-color-5: #D5D2F9;
$border-color-5: #CFCBFB;

body{
    font-family: 'Montserrat', sans-serif;
    background-color: $background-color;
    color: $font-color;
}
.wrapper{
    overflow: hidden;
}
.logo-brand{
    font-weight: 800;
    font-size: calc(1rem + 2vw);
    color: $font-color !important;
}
.button-custom_main{
    border-radius: 30px;
    font-weight: bolder;
    margin: 0.75rem;
    padding: 0.4rem 1.6rem 0.4rem 1.6rem;
    font-size: calc(0.5rem + 1vw);
    white-space: nowrap;
}
.button-custom_sub{
    border-radius: 20px;
    font-weight: bolder;
    margin-top: 0.25rem;
    padding: 0.4rem 1.2rem 0.4rem 1.2rem;
    font-size: calc(0.5rem + 1vw);
    background-color: $button-color_1;
    white-space: nowrap;
    &:hover{
        background-color: $button-color_1-hover;
    }
}
.main{
    padding: 4rem;
    margin-top: 3rem;
}
.main__title{
    p{
        font-size: calc(1rem + 5vw);
        letter-spacing: 0.7px;
    }
}
.main__subtitle{
    color: $font-color !important;
    .main__p1{
        font-size: calc(0.5rem + 2vw);
        font-weight: 600;
        
    }
    .main__p2{
        font-size: calc(0.5rem + 1vw);
        font-weight: 500;
    }
}
.level__new {
    font-size: calc(0.5rem + 1vw);
    padding: 0.3rem 1rem;
    border: 3px solid #CECAFC;
    color: #CECAFC;
    border-radius: 30px;
    font-weight: 500;
    width: 85px;
}
.level__content {
    font-size: calc(0.5rem + 1vw);
    font-weight: bolder;
    p{
        margin-bottom: 0;
        a{
            color: #CECAFC;
            text-decoration: underline;
        }
    }
}
.main-focus {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-areas: "main-focus__content-1 main-focus__content-3"
                         "main-focus__content-2 main-focus__content-3"
}
.main-focus__content-1 {
    padding: 6vw;
    background-color: $background-color-1;
    grid-area: main-focus__content-1;
    h2{
        font-size: calc(0.5rem + 2vw);
        font-weight: 600;
        margin-bottom: 20px;
    }
    h3{
        font-size: calc(0.5rem + 0.7vw);
        font-weight: 450;
    }
}
.main-focus__content-2 {
    padding: 6vw;
    grid-area: main-focus__content-2;
    h2{
        font-size: calc(0.5rem + 2vw);
        font-weight: 600;
        margin-bottom: 20px;
    }
    h3{
        font-size: calc(0.5rem + 0.7vw);
        font-weight: 450;
    }
}
.main-focus__content-3 {
    padding: 6vw;
    grid-area: main-focus__content-3;
    img{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    h2{
        z-index: 2;
        color: #fff;
        font-size: calc(0.5rem + 2vw);
        font-weight: 600;
    }
}
.level__content-2{
    p{
        font-weight: 600;
        a{
            text-decoration: none;
        }
    }
}
.button-custom_sub-2{
    background-color: #DBE5F2;
}
.main-start{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-areas: "main-start__content-1 main-start__content-2 main-start__content-3"
                         "main-start__content-1 main-start__content-4 main-start__content-5"
}
.main-start__content-1{
    padding: 4vw;
    grid-area: main-start__content-1;
    background-color: $background-color-2;
    h2{
        color: #212529;
        font-weight: 800;
        font-size: calc(1rem + 2vw);
    }
}
.main-start__content-2{
    padding: 2vw 4vw;
    grid-area: main-start__content-2;
    h2{
        font-size: calc(3rem + 4vw);
        font-weight: bold;
    }
    h3{
        font-size: calc(0.5rem + 1vw);
        font-weight: 700;
    }
}
.main-start__content-3{
    padding: 2vw 4vw;
    background-color: $background-color-1;
    grid-area: main-start__content-3;
    h2{
        font-size: calc(3rem + 4vw);
        font-weight: bold;
    }
    h3{
        font-size: calc(0.5rem + 1vw);
        font-weight: 700;
    }
}
.main-start__content-4{
    padding: 2vw 4vw;
    background-color: $background-color-3;
    grid-area: main-start__content-4;
    h2{
        font-size: calc(3rem + 4vw);
        font-weight: bold;
    }
    h3{
        font-size: calc(0.5rem + 1vw);
        font-weight: 700;
    }
}
.main-start__content-5{
    padding: 2vw 4vw;
    background-color: $background-color-1;
    grid-area: main-start__content-5;
    h2{
        font-size: calc(3rem + 4vw);
        font-weight: bold;
    }
    h3{
        font-size: calc(0.5rem + 1vw);
        font-weight: 700;
    }
}
.possibility {
    background-color: $background-color-4;
    padding: 3vw;
}
.possibility__item-1 {
    transform: rotate(5deg);
    margin: 5vh 5vw 1vw 1vw;
}
.possibility__item-2 {
    transform: rotate(-7deg);
    margin: 5vh 5vw 1vw 4vw;
}
.possibility__item-3 {
    transform: rotate(3deg);
    margin: 5vh 5vw 1vw 3vw;
}
.possibility__item-4 {
    transform: rotate(-8deg);
    margin: 5vh 5vw 1vw 1vw;
}
.possibility__item-5 {
    transform: rotate(6deg);
    margin: 5vh 5vw 1vw 3vw;
}
.possibility__item-6 {
    transform: rotate(-8deg);
    margin: 5vh 5vw 1vw 0vw;
}
.possibility__content {
    padding-right: 2vw;
    h2{
        font-size: calc(0.5rem + 2vw);
        font-weight: 700;
        margin-bottom: 4vh;
    }
    h3{
        font-size: calc(0.5rem + 0.7vw);
        font-weight: 500;
        margin-bottom: 3vh;
    }
}
.item{
    display: inline-block;
    text-align: center;
    border: 3px solid $font-color;
    padding: 0.4rem 2rem;
    border-radius: 30px;
    font-size: calc(1.2rem + 1vw);
    font-weight: 700;
    white-space: nowrap;
}
.work__title-main{
    font-size: calc(0.7rem + 2vw);
    font-weight: 700;
    margin: 1vw 1vw 1vw 3.5vw;
}
.work-1{
    background-color: $background-color-5;
    border: 3px solid $border-color-5;
    h3{
        font-size: calc(0.7rem + 0.7vw);
        font-weight: 500;
        display: flex;
        align-items: center;
    }
    margin: 20px 15px 15px;
}
.work-2{
    background-color: $background-color;
    border: 3px solid $button-color_1;
    h3{
        font-size: calc(0.7rem + 0.7vw);
        font-weight: 500;
        display: flex;
        align-items: center;
    }
    margin: 15px;
}
.work__line{
    height: 1.5px;
    width: 100%;
    background-color: $font-color;
}
.work__title{
    h2{
        font-size: calc(0.5rem + 2vw);
        font-weight: 700;
        margin-bottom: 1vh;
    }
}
.work__content{
    margin: 4vw 0;
    flex: 1 1 auto !important;
    min-height: 100% !important;
}
.work__button{
    border: 3px solid $font-color;
    background-color: transparent;
    &:hover{
        border: 3px solid $font-color;
    }
}
.work-1, .work-2{
    flex: 1 1 auto !important;
}
.work__main-content{
    min-height: 100%;
}
.work__item-1, .work__item-2{
    min-height: 100%;
    display: flex !important;
    flex-direction: column !important;
}
.who{
    border: 3px solid $font-color;
}
.who__person-list{
    padding: 4rem 9rem;
}
.who__img{
    position: relative;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}
.who__person{
    h3{
        font-size: calc(0.5rem + 0.6vw);
        font-weight: 600;
        text-align: center;
    }
}
.who__title{
    margin: 0 6.5rem;
    h2{
        font-size: calc(1.3rem + 2vw);
        font-weight: 800;
        text-align: start;
    }
    h3{
        font-size: calc(0.7rem + 0.6vw);
        font-weight: 600;
        text-align: start;
    }
}
.who__person-img{
    width: 11vw;
    height: 11vw;
}
.who__subtitle{
    font-size: calc(0.9rem + 0.6vw);
    font-weight: 800;
    margin-top: 2rem;
}
.who__items{
    margin: 0 5rem;
    min-height: 100%;
    flex: 1 1 auto;
}
.who__item{
    // width: 100%;
    margin: 0.5rem;
    padding: 0.5rem 0.8rem;
    border: 2px solid $font-color;
    border-radius: 30px;
    h3{
        font-size: calc(0.6rem + 0.6vw);
        font-weight: 600;
        text-align: center;
    }
}
#who__person-1{
    min-height: 100%;
    padding: 9rem 7rem;
    width: 85%;
    z-index: 10;
    margin: -4px;
}
.who__achievements{
    flex: 1 1 auto;
}














footer{
    background-color: $background-color-1;
    position: relative;
}
.nav-footer{
    max-width: 25vw;
}
.footer-arrow{
    position: absolute !important;
    top: 30px !important;
    right: 20px !important;
    height: 65px !important;
    width: 65px !important;
}
.arrow-up{
    color: $font-color !important;
    &:hover{
        color: $dark-button_background-color !important;
    }
}
@media (max-width: 1200px){
    .main-focus{
        display: block;
    }
    .main-focus__content-1, .main-focus__content-2{
        margin: 15px 0;
    }
    .main-focus__content-3{
        display: none;
    }
    .possibility{
        display: block !important;
        padding: 5vw;
    }
    .possibility__items-1, .possibility__items-2{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;
        margin-bottom: 3rem;
    }
    .possibility__content {
        padding-right: 0vw;
        h2{
            text-align: center;
        }
        h3{
            text-align: center;
        }
    }
    .work__main-content{
        flex-wrap: wrap;
    }
}
@media (max-width: 992px){
    .main{
        text-align: center;
        display: block !important;
    }
    .main__subtitle{
        margin: 0 !important;
    }
    .main__button{
        display: flex !important;
        justify-content: center !important;
    }
    .level{
        display: block !important;
        padding: 1.5rem !important;
    }
    .level__new{
        max-width: 64px;
        margin-left: 0 !important;
    }
    .level-sub{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .level__content{
        text-align: center !important;
        margin-left: 0 !important;
        p{
            margin: 1rem 0;
        }
    }
    footer{
        flex-direction: column;
    }
    .nav-footer{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;
    }
    .navbar-nav{
        justify-content: center !important;
        align-items: center !important;
    }
    .social{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .footer-arrow{
        height: 45px !important;
        width: 45px !important;
    }
}
@media (max-width: 768px){
    .social{
        text-align: center;
        margin-bottom: 15px;
    }
    .social-icons{
        margin-bottom: 15px;
    }
    .main-start{
        display: block !important;
    }
    .main-start__content-1, .main-start__content-2, .main-start__content-3, .main-start__content-4, .main-start__content-5{
        margin: 3vw 0;
    }
    .possibility{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
    .possibility__items{
        display: inline-block !important;
        margin: 0 auto !important;
    }
    .possibility__items-1{
        margin: 0 auto !important;
    }
    .work-1, .work-2{
        padding: 1rem !important;
        margin: 1.5rem 0 !important;
    }
    .work{
        padding: 1rem !important;
    }
}
@media (max-width: 576px){
    .wrapper{
        padding: 0 1rem !important;
    }
    .navbar{
        margin: 0 !important;
    }
    .main{
        padding: 2rem !important;
    }
    .main__title{
        p{
            font-size: calc(1.5rem + 2vw) !important;
        }
    }
    .level__content{
        line-height: 1rem;
    }
    .level__new{
        width: 60px;
        padding: 0.2rem 0.7rem !important;
    }
    .possibility{
        padding: 0vw;
    }
    .possibility__content{
        padding: 5vw;
    }
    .work-1, .work-2{
        padding: 0.8rem !important;
        margin: 0.8rem 0 !important;
    }
    .work{
        padding: 0.5rem !important;
    }
}
